<extend name="Public:base"/>
<block name="title">关于</block>
<block name="css">
    <style type="text/css">
        .panel-body .form-group {
            min-height: 20px;
            font-size: 1.2em;
            line-height: 20px;
        }

        label.col-md-4 {
            text-align: right;
        }
    </style>
</block>

<block name="main">
    <div id="page-wrapper">
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">关于</h1>
            </div>
            <!-- /.col-lg-12 -->
        </div>
        <!-- /.row -->
        <div class="row">
            <div class="col-md-12">
                <div class="panel about-list panel-yellow">
                    <div class="panel-heading about-title">
                        M 本人
                    </div>
                    <!-- .panel-heading -->
                    <div class="panel-body">
                        <ul>
                            <li>
                                <span class="col-lg-2 col-md-3">昵称：</span><span class="col-lg-10 col-md-9">小莫</span>
                            </li>
                            <li>
                                <span class="col-lg-2 col-md-3">邮箱：</span><span class="col-lg-10 col-md-9">i@nixiaomo.com</span>
                            </li>
                            <li>
                                <span class="col-lg-2 col-md-3">Github：</span><span class="col-lg-10 col-md-9">菜单栏搜索框左边的小喵咪~</span>
                            </li>
                            <li>
                                <span class="col-lg-2 col-md-3">个性签名：</span><span
                                    class="col-lg-10 col-md-9">一点一滴，一琢一磨</span>
                            </li>
                            <li>
                                <span class="col-lg-2 col-md-3">兴趣爱好：</span><span class="col-lg-10 col-md-9">我是要成为海贼王的男人；搞事boy</span>
                            </li>
                        </ul>
                    </div>
                    <!-- .panel-body -->
                </div>
                <!-- /.panel -->
            </div>
            <div class="col-md-12">
                <div class="panel about-list panel-red">
                    <div class="panel-heading about-title">
                        W 网站
                        <div>
                            <span>域名到期：2018-11-02</span><br>
                            <span>虚拟主机到期：2018-05-13</span>
                        </div>
                    </div>
                    <!-- .panel-heading -->
                    <div class="panel-body">
                        <div class="form-group">
                            <label class="col-md-4">2017年10月10日：</label>
                            <div class="col-md-6">
                                <span>60rmb为域名续费一年。</span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-4">2017年6月：</label>
                            <div class="col-md-6">
                                <span>想起了我的博客，并进行重构...</span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-4">2016年底-2017年初：</label>
                            <div class="col-md-6">
                                <span>具体时间已经忘了，先后为域名续费一年、虚拟主机续费半年。</span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-4">2016年10月：</label>
                            <div class="col-md-6">
                                <span>将简单搭建的博客扔到github，然后就遗忘了Orz。</span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-4">2016年8月：</label>
                            <div class="col-md-6">
                                <span>使用ThinkPHP3.2.3+sb-admin2，开始搭建个人博客【my log】（初衷？玩呗~）。</span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-4">2015年11月：</label>
                            <div class="col-md-6">
                                <span>在阿里云购买域名【nixiaomo.com】，并以学生身份申请了两年免费的云虚拟主机。</span>
                            </div>
                        </div>
                    </div>
                    <!-- .panel-body -->
                </div>
                <!-- /.panel -->
            </div>
        </div>
        <!-- /.row -->
    </div>
    <!-- /#page-wrapper -->
</block>

<block name="model"></block>

<block name="script"></block>