<extend name="Public:base"/>
<block name="title">消息中心</block>
<block name="css"></block>

<block name="main">
    <div id="page-wrapper">
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">消息中心</h1>
            </div>
            <!-- /.col-lg-12 -->
        </div>
        <!-- /.row -->
        <div class="row">
            <div class="col-lg-12">
                <div class="panel panel-yellow">
                    <div class="panel-body">
                        <div class="table-responsive">
                            <table class="table table-hover table-striped">
                                <thead>
                                <tr>
                                    <th>
                                        <input type="checkbox" id="cb-select-all" autocomplete="off">
                                    </th>
                                    <th>作者</th>
                                    <th>评论</th>
                                    <th>状态</th>
                                    <th>回复至</th>
                                    <th>提交时间</th>
                                    <th>操作</th>
                                </tr>
                                </thead>
                                <tbody>
                                <foreach name="comments" item="comment">
                                    <tr id="comment-{$comment['comment_id']}">
                                        <td><input type="checkbox" id="cb-select-{$comment['comment_id']}"
                                                   name="cb-select-list" autocomplete="off"></td>
                                        <td>{$comment['user']}</td>
                                        <td>
                                            <if condition="mb_strlen($comment['content'],'utf8') gt 12">
                                                {$comment['content']|mb_substr=0,12,'utf-8'}...
                                                <else/>
                                                {$comment['content']}
                                            </if>
                                        </td>
                                        <td>
                                            <if condition="$comment['comment_parent'] eq 0">
                                                评论了
                                                <else/>
                                                回复给
                                            </if>
                                            你
                                            <if condition="$comment['comment_pushed'] eq 2">
                                                <span style="color: #f00">新</span>
                                            </if>
                                        </td>
                                        <td>
                                            <if condition="mb_strlen($comment['title'],'utf8') gt 12">
                                                {$comment['title']|mb_substr=0,12,'utf-8'}...
                                                <else/>
                                                {$comment['title']}
                                            </if>
                                        </td>
                                        <td>{$comment['comment_date']|strtotime|date='m-d H:i',###}</td>
                                        <td>
                                            <span class="fa fa-search"></span>
                                            <a target="_blank"
                                               href="__ROOT__/p/{$comment['id']}#comment-{$comment['comment_id']}">查看</a>
                                            <span class="fa fa-times"></span>
                                            <a href="{:U('Comment/remove')}?comment_id={$comment['comment_id']}">删除</a>
                                        </td>
                                    </tr>
                                </foreach>
                                </tbody>
                            </table>
                        </div>
                        <!-- /.table-responsive -->
                        <div class="page">
                            <div class="btn-group">
                                <button class="btn btn-default btn-cb-select">全选/取消全选</button>
                                <button class="btn btn-default btn-cb-mark">标为已读</button>
                                <button class="btn btn-default btn-cb-remove">删除</button>
                            </div>
                            {$page}
                        </div>
                    </div>
                    <!-- /.panel-body --> </div>
                <!-- /.panel -->
            </div>
            <!-- /.col-lg-12 -->
        </div>
        <!-- /.row -->
    </div>
    <!-- /#page-wrapper -->
</block>

<block name="model"></block>

<block name="script">
    <!-- Page-Level Demo Scripts - Tables - Use for reference -->
    <script type="text/javascript">
        $(document).ready(function () {
            // 全选/反选
            $(".btn-cb-select").click(function () {
                $("#cb-select-all").click();
            });
            $("#cb-select-all").click(function () {
                $("input[name='cb-select-list']").prop("checked", $(this).is(':checked'));
            });


            // 标为已读
            $(".btn-cb-mark").click(function () {
                handler("read");
            });

            // 删除
            $(".btn-cb-remove").click(function () {
                handler("remove");
            });

            /**
             * 处理消息
             * @param status
             */
            function handler(status) {
                var marks = "";
                $("input[name='cb-select-list']:checked").each(function () {
                    marks += $(this).attr("id").split("-")[2] + ",";
                });
                marks = marks.substring(0, marks.length - 1);
                if (marks == "")return;

                $("#loadDiv").show();
                $.ajax({
                    url: "{:U('Comment/batch')}",
                    type: "post",
                    data: {
                        marks: marks,
                        status: status
                    },
                    success: function (data) {
                        showTips(data.info);
                        $("#loadDiv").hide();

                        if (data.status > 0)
                            window.location.reload();
                    }
                });
            }
        });
    </script>
</block>
