<!-- Navigation -->
<nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
    <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="__ROOT__/index">
            <img class="navbar-logo" src="__PUBLIC__/images/logo.png"/>{$Think.config.PROJECT_NAME}</a>
    </div>
    <!-- /.navbar-header -->

    <ul class="nav navbar-top-links navbar-right">
        <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                <i class="fa fa-user fa-fw"></i>{$Think.session.user}
                <i class="fa fa-caret-down"></i>
            </a>
            <ul class="dropdown-menu dropdown-messages dropdown-admin">
                <notempty name="Think.session.user">
                    <li>
                        <a href="__ROOT__/admin">
                            <i class="fa fa-user fa-fw"></i>
                            进入后台
                        </a>
                    </li>
                    <li class="divider"></li>
                    <li>
                        <a href="__ROOT__/logout">
                            <i class="fa fa-sign-out fa-fw"></i>
                            退出账户
                        </a>
                    </li>
                    <else/>
                    <li>
                        <a href="__ROOT__/register">
                            <i class="fa fa-user fa-fw"></i>
                            注册
                        </a>
                    </li>
                    <li class="divider"></li>
                    <li>
                        <a href="__ROOT__/login">
                            <i class="fa fa-sign-in fa-fw"></i>
                            登录
                        </a>
                    </li>
                </notempty>
            </ul>
            <!-- /.dropdown-user -->
        </li>
        <!-- /.dropdown -->
    </ul>
    <!-- /.navbar-top-links -->

    <div class="navbar-default sidebar" role="navigation">
        <div class="sidebar-nav navbar-collapse">
            <ul class="nav" id="side-menu">
                <li class="sidebar-search">
                    <div class="input-group custom-search-form">
                        <span class="input-group-btn">
                            <a class="btn btn-default" target="_blank" href="https://github.com/NiXiaomo">
                                <i class="fa fa-github"></i>
                            </a>
                        </span>
                        <input type="text" class="form-control input-search" placeholder="站内搜索...">
                        <span class="input-group-btn">
                            <button class="btn btn-default btn-search" type="button">
                                <i class="fa fa-search"></i>
                            </button>
                        </span>
                    </div>
                    <!-- /input-group -->
                </li>
                <li>
                    <a href="__ROOT__/index">
                        <i class="fa fa-home"></i> 首页
                    </a>
                </li>
                <li>
                    <a href="__ROOT__/archives">
                        <i class="fa fa-inbox"></i> 收纳盒
                    </a>
                </li>
                <li>
                    <a href="__ROOT__/tags">
                        <i class="fa fa-tag"></i> 便利贴
                    </a>
                </li>
                <li>
                    <a href="__ROOT__/links">
                        <i class="fa fa-link"></i> 传送门
                    </a>
                </li>
                <li>
                    <a href="__ROOT__/about">
                        <i class="fa fa-user"></i> 呼哈嘿！
                    </a>
                </li>
            </ul>
        </div>
        <!-- /.sidebar-collapse -->
    </div>
    <!-- /.navbar-static-side -->
</nav>
<script type="text/javascript">
    $(function () {
        $(".input-search").bind('keypress', function (event) {
            if (event.keyCode == "13") {
                $(".btn-search").click();
            }
        });
        $(".btn-search").click(function () {
            var s = $(".input-search").val();
            if ($.trim(s).length < 3) {
                showTips('请最少输入三个有效字符');
                return;
            }
            window.location.href = '__ROOT__/s/' + s;
        });


        $(".input-search").val(htmlspecialchars_decode("{:htmlspecialchars($_GET['s'])}"));
        function htmlspecialchars_decode(str) {
            str = str.replace(/&amp;/g, '&');
            str = str.replace(/&lt;/g, '<');
            str = str.replace(/&gt;/g, '>');
            str = str.replace(/&quot;/g, "''");
            str = str.replace(/&#039;/g, "'");
            return str;
        }
    });
</script>