<!-- Navigation -->
<nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
    <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="__ROOT__/index.html">
            <img class="navbar-logo" src="__PUBLIC__/images/logo.png"/>{$Think.config.PROJECT_NAME}</a>
    </div>
    <!-- /.navbar-header -->

    <ul class="nav navbar-top-links navbar-right">
        <if condition="session('user')">
            <li class="dropdown">
                <php>$messages = pushed_comment();</php>
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                    <i class="fa fa-bell fa-fw"></i>
                    <if condition="($count = count($messages)) gt 0">
                        <span style="color: #f00">{$count}</span>
                    </if>
                    <i class="fa fa-caret-down"></i>
                </a>
                <ul class="dropdown-menu dropdown-messages">
                    <if condition="$count gt 0">
                        <volist name="messages" id="message" offset="0" length="5">
                            <li>
                                <a href="__ROOT__/p/{$message['post_id']}/comment/{$message['comment_id']}#comment-{$message['comment_id']}">
                                    <div>
                                        <span class="pushed-user">{$message['comment_author']}</span>
                                        <if condition="$message['comment_parent'] eq 0">
                                            评论了
                                            <else/>
                                            回复了
                                        </if>
                                        <if condition="$message['comment_respond'] eq session('user')">
                                            你
                                            <else/>
                                            <span style="color: #c00; margin-left: 5px">{$message['comment_respond']}</span>
                                        </if>
                                        <span class="pull-right text-muted">
                                            <em>{$message['comment_date']|strtotime|date='m-d H:i',###}</em>
                                        </span>
                                    </div>
                                    <div>
                                        <if condition="mb_strlen($message['content'],'utf8') gt 35">
                                            {$message['content']|mb_substr=0,35,'utf-8'}...
                                            <else/>
                                            {$message['content']}
                                        </if>
                                    </div>
                                </a>
                            </li>
                            <li class="divider"></li>
                        </volist>
                        <else/>
                        <li><a class="text-center">您目前没有新消息</a></li>
                        <li class="divider"></li>
                    </if>
                    <li>
                        <a class="text-center" href="{:U('Comment/index')}">
                            <strong>查看所有消息</strong>
                            <i class="fa fa-angle-right"></i>
                        </a>
                    </li>
                </ul>
                <!-- /.dropdown-messages -->
            </li>
        </if>
        <!-- /.dropdown -->
        <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                <i class="fa fa-user fa-fw"></i>
                <i class="fa fa-caret-down"></i>
            </a>
            <ul class="dropdown-menu dropdown-messages dropdown-admin">
                <if condition="session('user')">
                    <li>
                        <a href="#">
                            <i class="fa fa-user fa-fw"></i>
                            个人设置
                        </a>
                    </li>
                    <li class="divider"></li>
                    <li>
                        <a href="{:U('User/logout')}">
                            <i class="fa fa-sign-out fa-fw"></i>
                            退出账户
                        </a>
                    </li>
                    <else/>
                    <li>
                        <a href="{:U('User/register')}">
                            <i class="fa fa-user fa-fw"></i>
                            注册
                        </a>
                    </li>
                    <li class="divider"></li>
                    <li>
                        <a href="{:U('User/login')}">
                            <i class="fa fa-sign-in fa-fw"></i>
                            登录
                        </a>
                    </li>
                </if>
            </ul>
            <!-- /.dropdown-user -->
        </li>
        <!-- /.dropdown -->
    </ul>
    <!-- /.navbar-top-links -->

    <div class="navbar-default sidebar" role="navigation">
        <div class="sidebar-nav navbar-collapse">
            <ul class="nav" id="side-menu">
                <li class="sidebar-search">
                    <div class="input-group custom-search-form">
                        <span class="input-group-btn">
                            <a class="btn btn-default" target="_blank" href="https://github.com/NiXiaomo">
                                <i class="fa fa-github"></i>
                            </a>
                        </span>
                        <input type="text" class="form-control input-search"
                               value="{$Think.get.s}" placeholder="Search...">
                        <span class="input-group-btn">
                            <button class="btn btn-default btn-search" type="button">
                                <i class="fa fa-search"></i>
                            </button>
                        </span>
                    </div>
                    <!-- /input-group -->
                </li>
                <li>
                    <a href="__ROOT__/index.html">
                        <i class="fa fa-home"></i> 首页
                    </a>
                </li>
                <li>
                    <a href="__ROOT__/archives.html">
                        <i class="fa fa-inbox"></i> 收纳盒
                    </a>
                </li>
                <li>
                    <a href="__ROOT__/tags.html">
                        <i class="fa fa-tag"></i> 便利贴
                    </a>
                </li>
                <li>
                    <a href="__ROOT__/links.html">
                        <i class="fa fa-link"></i> 传送门
                    </a>
                </li>
                <li>
                    <a href="__ROOT__/about.html">
                        <i class="fa fa-user"></i> 呼哈嘿！
                    </a>
                </li>
                <notempty name="Think.session.user_id">
                    <li>
                        <a href="#">
                            <i class="fa fa-bookmark"></i> 个人日志
                            <span class="fa arrow"></span>
                        </a>
                        <ul class="nav nav-second-level">
                            <li>
                                <a href="{:U('Post/index')}">所有日志</a>
                            </li>
                            <li>
                                <a href="{:U('Post/add')}">新建</a>
                            </li>
                        </ul>
                        <!-- /.nav-second-level -->
                    </li>
                    <li>
                        <a href="{:U('Comment/index')}">
                            <i class="fa fa-comment"></i> 消息中心
                        </a>
                    </li>
                </notempty>
            </ul>
        </div>
        <!-- /.sidebar-collapse -->
    </div>
    <!-- /.navbar-static-side -->
</nav>
<script type="text/javascript">
    $(".input-search").bind('keypress', function (event) {
        if (event.keyCode == "13") {
            $(".btn-search").click();
        }
    });
    $(".btn-search").click(function () {
        var s = $(".input-search").val();
        if ($.trim(s) == '' || $.trim(s).length < 3) {
            showTips('请最少输入三个有效字符');
            return;
        }
        window.location.href = '__ROOT__/s/' + s;
    });
</script>