<extend name="Public:base"/>
<block name="title">
    <empty name="log">
        未找到页面
        <else/>
        {$log['title']}
    </empty>
</block>
<block name="css"></block>

<block name="main">
    <div id="page-wrapper" style="padding-top: 20px;">
        <if condition="$tips">{// 存在表示没有内容}
            <div class="row log">
                <div class="col-lg-12">
                    <div class="well well-lg" style="border-left: 8px #333 solid;padding: 3% 5%">
                        <header><h2>{$tips}</h2></header>
                    </div>
                    <!-- /.panel -->
                </div>
                <!-- /.col-lg-12 -->
            </div>
            <else/>
            <div class="row log">
                <div class="col-lg-12">
                    <div class="well well-lg">
                        <article>
                            <header><h2>{$log['title']}</h2></header>
                            <div class="log-content">{$log['content']}</div>
                            <footer>
                                <span class="log-footer">
                                    <span class="fa fa-calendar fa-fw"></span>
                                    {$log['post_date']|strtotime|date='Y-m-d H:i',###}
                                </span>
                                <span class="log-footer">
                                    <span class="fa fa-user fa-fw"></span>
                                    <a href="__ROOT__/author/{$log['user']}">{$log['nickname']}</a>
                                </span>
                                <if condition="$identity">
                                    <span class="log-footer">
                                        <a href="{:U('Post/edit')}?id={$log['id']}">
                                            <span class="fa fa-pencil fa-fw"></span>编辑</a>
                                    </span>
                                </if>
                            </footer>
                        </article>
                    </div>
                    <!-- /.panel -->
                </div>
                <!-- /.col-lg-12 -->
            </div>
            <!-- /.row -->
            <div class="row log comments">
                <div class="col-lg-12">
                    <div id="comments" class="well well-lg">
                        <if condition="$comment_title">
                            <h2 class="comment-title">{$comment_title}</h2>
                            {// 一级评论}
                            <ol class="comment-list">
                                <foreach name="comment_data" item="comment">
                                    <div>
                                        <img class="gravatar" alt="{$comment['child_author']}"
                                             src="{:get_gravatar($comment['child_email'])}"/>
                                        <article id="comment-{$comment['comment_id']}">
                                            <footer>
                                                <div class="comment-author">
                                                    <a target="_blank" href="http://{$comment['child_url']}">
                                                        {$comment['child_author']}
                                                    </a>
                                                </div>
                                                <div class="comment-meta">
                                                    <time>
                                                        <span class="fa fa-calendar fa-fw"></span>
                                                        {$comment['comment_date']|strtotime|date='Y-m-d H:i',###}
                                                    </time>
                                                    <if condition="$identity">
                                                        <a href="javascript:;" class='comment-remove'
                                                           data-toggle='modal' data-target='#tipsModal'>
                                                            <span class="fa fa-times fa-fw"></span>删除</a>
                                                    </if>
                                                    <a href="javascript:;" class='comment-reply'>
                                                        <span class="fa fa-pencil fa-fw"></span>回复</a>
                                                </div>
                                            </footer>
                                            <div class="comment-content">
                                                <p>{:str_replace(PHP_EOL, '</p><p>', $comment['content']);}</p>
                                            </div>
                                        </article>
                                    </div>
                                    <notempty name="comment['children_list']">
                                        {// 二级评论}
                                        <ol class="comment-list-children">
                                            <foreach name="comment['children_list']" item="comment_children">
                                                <li>
                                                    <div>
                                                        <img class="gravatar" alt="{$comment_children['child_author']}"
                                                             src="{:get_gravatar($comment_children['child_email'])}"/>
                                                        <article id="comment-{$comment_children['comment_id']}">
                                                            <footer>
                                                                <div class="comment-author">
                                                                    <a target="_blank" href="http://{$comment_children['child_url']}">
                                                                        {$comment_children['child_author']}
                                                                    </a>
                                                                    <span class="comment_author_children">回复：{$comment_children['parent_author']}</span>
                                                                </div>
                                                                <div class="comment-meta">
                                                                    <time>
                                                                        <span class="fa fa-calendar fa-fw"></span>
                                                                        {$comment_children['comment_date']|strtotime|date='Y-m-d
                                                                        H:i',###}
                                                                    </time>
                                                                    <if condition="$identity || session('user_id') == $comment_children['user_id']">
                                                                        <a href="javascript:;" class='comment-remove'
                                                                           data-toggle='modal' data-target='#tipsModal'>
                                                                            <span class="fa fa-times fa-fw"></span>删除</a>
                                                                    </if>
                                                                    <a href="javascript:;" class='comment-reply'>
                                                                        <span class="fa fa-pencil fa-fw"></span>回复</a>
                                                                </div>
                                                            </footer>
                                                            <div class="comment-content">
                                                                <p>{:str_replace(PHP_EOL, '</p><p>', $comment_children['content']);}</p>
                                                            </div>
                                                        </article>
                                                    </div>
                                                </li>
                                            </foreach>
                                        </ol>
                                    </notempty>
                                </foreach>
                            </ol>
                        </if>
                        <div id="respond" class="comment-respond">
                            <h2>发表评论</h2>

                            <empty name="Think.session.user_id">
                                <div class="form-group">
                                    <label>昵称 *</label><a href="{:U('User/login')}" class="to-login">去登录</a>
                                    <input class="form-control" id="nickname" autocomplete="off">
                                </div>
                                <div class="form-group">
                                    <label>邮箱 *</label>
                                    <input class="form-control" id="email" autocomplete="off">
                                </div>
                                <div class="form-group">
                                    <label>网址(http://)</label>
                                    <input class="form-control" id="url" autocomplete="off">
                                </div>
                            </empty>
                            <div class="form-group">
                                <label>评论</label>
                                <textarea class="form-control" id="comment" autocomplete="off"></textarea>
                            </div>
                            <button class="btn btn-default btn-cancel">取消</button>
                            <button class="btn btn-danger btn-comment">发表评论</button>
                        </div>
                    </div>
                </div>
                <!-- /.panel -->
                <!-- /.col-lg-12 -->
            </div>
            <!-- /.row -->
        </if>
    </div>
    <!-- /#page-wrapper -->
</block>

<block name="model">
    <!-- 模态框（Modal） -->
    <div class="modal fade" id="tipsModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
         aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title">提示</h4>
                </div>
                <div class="modal-body" id="tipsContent">
                    确认删除此条评论？
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal" id="tipsCancel">取消</button>
                    <button type="button" class="btn btn-primary" id="tipsSure">确认</button>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>
    <!-- /.modal -->
</block>

<block name="script">
    <!-- Resize img JavaScript -->
    <script src="__PUBLIC__/js/resize-img.js"></script>

    <!-- Page-Level Demo Scripts - Tables - Use for reference -->
    <script type="text/javascript">
        $(document).ready(function () {
            // 评论
            var commentId = 0;
            $(".comment-reply").click(function () {
                var article = $(this).closest('article');
                commentId = article.attr("id").split("-")[1];
                article.after($("#respond"));
            });
            // 取消
            $(".btn-cancel").click(function () {
                commentId = 0;
                $("#nickname").val("");
                $("#email").val("");
                $("#url").val("");
                $("#comment").val("");
                $("#comments").append($("#respond"));
            });
            // 确定
            $(".btn-comment").click(function () {
                var comment = $("#comment").val();
                if ($.trim(comment) == "") {
                    alert("请输入评论内容");
                    return;
                }

                $("#loadDiv").show();
                $.ajax({
                    url: "{:U('Comment/post')}",
                    type: "post",
                    data: {
                        post: "{$log['id']}",
                        nickname: $("#nickname").val(),
                        email: $("#email").val(),
                        url: $("#url").val(),
                        comment: comment,
                        comment_id: commentId
                    },
                    success: function (data) {
                        $("#loadDiv").hide();
                        showTips(data.info);

                        if (data.status > 0) {
                            window.location.reload();
                        }
                    }
                });
            });
        });
    </script>
    <if condition="session('user_id')">
        <script type="text/javascript">
            $(document).ready(function () {
                // 删除评论
                $(document).on('click', '.comment-remove', function () {
                    commentId = $(this).parent().parent().parent().attr("id").split("-")[1];
                });
                // 取消
                $("#tipsCancel").click(function () {
                    commentId = 0;
                });
                // 确定
                $("#tipsSure").click(function () {
                    $("#loadDiv").show();
                    $.ajax({
                        url: "{:U('Comment/remove')}",
                        type: "post",
                        data: {comment_id: commentId},
                        success: function (data) {
                            $("#loadDiv").hide();
                            $("#tipsCancel").click();
                            showTips(data.info);

                            if (data.status > 0) {
                                window.location.reload();
                            }
                        }
                    });
                });
            });
        </script>
    </if>
</block>
