<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no"/>
    <meta name="description" content="">
    <meta name="author" content="">
    <title>
        <if condition="$title">编辑
            <else/>
            新建
        </if>
        - my log
    </title>

    <!-- Bootstrap Core CSS -->
    <link href="__PUBLIC__/bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- MetisMenu CSS -->
    <link href="__PUBLIC__/bower_components/metisMenu/dist/metisMenu.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="__PUBLIC__/dist/css/sb-admin-2.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="__PUBLIC__/bower_components/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">

    <!-- Summernote CSS-->
    <link href="__PUBLIC__/css/summernote.css" rel="stylesheet" type="text/css">

    <!-- My CSS-->
    <link href="__PUBLIC__/css/log.css" rel="stylesheet" type="text/css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>
<div id="wrapper">
    <include file="Public/include/navbar.html"/>

    <div id="page-wrapper">
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">
                    <if condition="$title">编辑日志
                        <else/>
                        撰写新日志
                    </if>
                </h1>
            </div>
            <!-- /.col-lg-12 -->
        </div>
        <!-- /.row -->
        <div class="row">
            <div class="col-md-8">
                <form role="form">
                    <div class="form-group">
                        <input class="form-control input-title" placeholder="在此输入标题"
                               value="{$title|default=''}" autofocus>
                    </div>
                    <div class="form-group">
                        <div id="summernote">{$content|default=''}</div>
                    </div>
                </form>
            </div>
            <!-- /.col-md-8 -->
            <div class="col-md-4">
                <div class="panel panel-default">
                    <div class="panel-heading">发布</div>
                    <div class="panel-body">
                        <div class="form-group" style="min-height: 34px;">
                            <a class="btn btn-default btn-draft">保存为草稿</a>
                            <if condition="$status eq 1">
                                <a href="{:U('Index/detail')}?p={$id}" class="btn btn-default"
                                   style="float:right;" target="_blank">查看</a>
                            </if>
                        </div>
                        <div class="form-group">
                            <span class="fa fa-thumb-tack fa-fw"></span>当前状态：
                            <strong>
                                <if condition="$status eq 1">已发布
                                    <else/>
                                    草稿
                                </if>
                            </strong>
                        </div>
                        <div class="form-group">
                            <span class="fa fa-calendar fa-fw"></span>上次编辑：
                            <strong>{$edit_date|default='待发布'}</strong>
                        </div>
                    </div>
                    <div class="panel-footer" style="min-height: 55px">
                        <if condition="$status neq 0">
                            <a class="btn btn-link" href="{:U('Post/trash')}?p={$id}&action=trash">移至回收站</a>
                        </if>
                        <button class="btn btn-primary btn-post" style="float: right;">
                            <if condition="$status eq 1">更新
                                <else/>
                                发布
                            </if>
                        </button>
                    </div>
                </div>
            </div>
            <!-- /.col-md-4 -->
        </div>
        <!-- /.row -->
    </div>
    <!-- /#page-wrapper -->
</div>
<!-- /#wrapper -->

<include file="Public/include/tips.html"/>
<include file="Public/include/loading.html"/>

<!-- jQuery -->
<script src="__PUBLIC__/bower_components/jquery/dist/jquery.min.js"></script>

<!-- Bootstrap Core JavaScript -->
<script src="__PUBLIC__/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>

<!-- Metis Menu Plugin JavaScript -->
<script src="__PUBLIC__/bower_components/metisMenu/dist/metisMenu.min.js"></script>

<!-- Custom Theme JavaScript -->
<script src="__PUBLIC__/dist/js/sb-admin-2.js"></script>

<!-- Summernote JavaScript -->
<script src="__PUBLIC__/js/summernote.min.js"></script>

<!-- Summernote lang zh-CN JavaScript -->
<script src="__PUBLIC__/js/summernote-zh-CN.js"></script>

<!-- Page-Level Demo Scripts - Tables - Use for reference -->
<script type="text/javascript">
    $(document).ready(function () {
        $('#summernote').summernote({
            height: 300,
            minHeight: 300,
            maxHeight: 300,
            lang: 'zh-CN',
            toolbar: [
                ['color', ['color']],
                ['font', ['style']],
                ['fontsize', ['fontsize']],
                ['style', ['bold', 'italic', 'underline', 'clear', 'strikethrough']],
                ['para', ['ul', 'ol', 'paragraph']],
                ['height', ['height']],
                ['insert', ['link', 'picture']]
            ],
            onImageUpload: function (files, editor, $editable) {
                sendFile(files[0], editor, $editable);
            }
        });


        // 发布
        $(".btn-post").click(function () {
            release(1);
        });

        // 保存草稿
        $(".btn-draft").click(function () {
            release(2);
        });


        /**
         * 发布
         * @param status
         */
        function release(status) {
            var title = $(".input-title").val();
            var content = $('#summernote').code();
            var p = '{$id|default=0}';
            if ($.trim(title) == "" || content == "" || content == "<br>" || content == "<p><br></p>") {
                showTips("标题和内容不能为空");
                return;
            }

            $("#loadDiv").show();
            $.ajax({
                url: "{:U('Post/post')}",
                type: 'post',
                data: {
                    p: p,
                    title: title,
                    content: content,
                    status: status
                },
                success: function (data) {
                    if (data.status > 0) {
                        window.location.href = data.info;
                    } else {
                        showTips(data.info);
                        $("#loadDiv").hide();
                    }
                }
            });
        }


        function sendFile(file, editor, $editable) {
            $("#tipsDiv").show().children(".warn").html("图片正在上传，请稍候...");

            var filename = file['name'];
            // 以上防止在图片在编辑器内拖拽引发第二次上传导致的提示错误
            var ext = filename.substr(filename.lastIndexOf(".")).toLowerCase();
            data = new FormData();
            data.append("file", file);
            data.append("ext", ext);
            $.ajax({
                data: data,
                type: "post",
                url: "{:U('Post/upload')}",
                cache: false,
                contentType: false,
                processData: false,
                success: function (url) {
                    showTips("上传成功,请等待加载");
                    editor.insertImage($editable, url);
                    if (!window.addEventListener) $("input[type='file']").outerHTML("");  //IE清除inputfile
                    else $("input[type='file']").val("");   //FF清除inputfile
                },
                error: function () {
                    showTips("上传失败");
                }
            });
        }
    });
</script>
</body>
</html>