<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no"/>
    <meta name="description" content="">
    <meta name="author" content="">

    <title>注册 - {$Think.config.PROJECT_NAME}</title>

    <!-- Bootstrap Core CSS -->
    <link href="__PUBLIC__/bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="__PUBLIC__/dist/css/sb-admin-2.css" rel="stylesheet">

    <!-- My CSS-->
    <link href="__PUBLIC__/css/style.css" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>

<div class="container">
    <div class="row">
        <div class="col-md-4 col-md-offset-4">
            <div class="login-panel panel panel-green">
                <div class="panel-heading">
                    请先注册 <a href="__ROOT__/login" style="float:right;color: #ddd;">已有账号？去登录</a>
                </div>
                <div class="panel-body">
                    <form role="form" id="form">
                        <fieldset>
                            <div class="form-group">
                                <input id="user" class="form-control" placeholder="用户名（^\w{6,16}$）"
                                       name="user" type="text" autofocus>
                            </div>
                            <div class="form-group">
                                <input id="psw" class="form-control" placeholder="密码" name="psw" type="password"
                                       value="">
                            </div>
                            <div class="form-group input-group" style="width: 100%;">
                                <input class="form-control" placeholder="验证码" name="code" type="text"
                                       id="code" maxlength="4">
                                <span class="input-group-addon" id="auth_span"
                                      style="background-image: url('{:U("User/getVerify")}')">
                                </span>
                            </div>
                            <a href="javascript:;" class="btn btn-lg btn-success btn-block"
                               id="register" style="color: #fff;">注 册</a>
                        </fieldset>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<include file="Common@Public/tips,Common@Public/loading"/>

<!-- jQuery -->
<script src="__PUBLIC__/bower_components/jquery/dist/jquery.min.js"></script>

<!-- Bootstrap Core JavaScript -->
<script src="__PUBLIC__/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>

<script type="text/javascript">
    $(function () {
        $("#register").click(function () {
            if (!$.trim($("#user").val()) || !$.trim($("#psw").val()) || !$("#code").val()) {
                showTips("请填写完整");
                return;
            }
            if (/^\w{6,16}$/.test($("#user").val()) === false) {
                showTips("用户名格式有误！");
                return;
            }

            $("#loadDiv").show();
            $.ajax({
                url: "{:U('User/checkRegister')}",
                type: "post",
                data: $("#form").serialize(),
                success: function (data) {
                    $("#loadDiv").hide();
                    showTips(data.msg);

                    if (data.status > 0) {
                        window.location.href = "__ROOT__/login";
                    } else {
                        $("#auth_span").click();
                    }
                }
            });
        });

        // 监听回车键事
        $(document).keypress(function (e) {
            if (e.which == 13) {
                $("#register").click();
            }
        });


        // 获取验证码
        $("#auth_span").click(function () {
            document.getElementById('auth_span').style.backgroundImage = 'url({:U("User/getVerify")}?rand=' +
                    Math.random() + ')';
            $("#code").val("");
        });
    });
</script>
</body>

</html>
